body {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  line-height: 1.6;

  background-color: #f5f7fa;
  color: #222;
}

h1 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-top: 40px;
}

u1 {
  padding-left: 20px;
}
